{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/listusers.css">
<div class="content">
  <div class="box">
    <h5 class="text-center mt-3 mb-3">Lista de Cadastros</h5>
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
        <h5>{{ messages[0] }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% endwith %}
    {% if userall %}
    <table class="table table-striped text-center table-hover table-responsive">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          {% if user_current.group == '1' %}
          <th scope="col">Ações</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for user in userall %}
        <tr>
          <th scope="row">{{ user.name }}</th>
          {% if user_current.group == '1' %}
          <td>
            <a class="btn btn-primary">Editar</a>
            <a class="btn btn-danger" href='/deleteuser/{{ user["id"] }}'>Excluir</a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock %}